VITE_API_BASE_URL=http://localhost:8080/api

VITE_AUTH_ENABLED=false
VITE_AUTH0_DOMAIN=DEINE-AUTH0-DOMAIN.eu.auth0.com
VITE_AUTH0_CLIENT_ID=DEINE_AUTH0_CLIENT_ID
VITE_AUTH0_AUDIENCE=https://findit-api
VITE_AUTH0_REDIRECT_URI=http://localhost:5173/
VITE_AUTH0_LOGOUT_RETURN_TO=http://localhost:5173/