VITE_API_BASE_URL=https://DEINE-BACKEND-ADRESSE.onrender.com/api

VITE_AUTH_ENABLED=true
VITE_AUTH0_DOMAIN=DEINE-AUTH0-DOMAIN.eu.auth0.com
VITE_AUTH0_CLIENT_ID=DEINE_AUTH0_CLIENT_ID
VITE_AUTH0_AUDIENCE=https://findit-api
VITE_AUTH0_REDIRECT_URI=https://DEIN-GITHUB-USERNAME.github.io/DEIN-FRONTEND-REPO/
VITE_AUTH0_LOGOUT_RETURN_TO=https://DEIN-GITHUB-USERNAME.github.io/DEIN-FRONTEND-REPO/